.title 
{
    width: 40%;
    margin: 10px;
    padding: 10px;
    top: -2px;
    align-content: center;
}
body
{
    background-image: url("../images/background_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}
#instruction, #stats 
{
    margin: 5px;
    padding: 5px;
    align-content: center;
}

h1 
{
    font-size: 14px;
    color: goldenrod;
    padding: 1px;
    text-align:center;
    margin-bottom: 50px;
    font-family: 'Press Start 2P', cursive;
} 
h2 
{
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 24px;
    color:gold; 
}
.champtions
{
    display: block;
    width: auto;
    height: auto;
    margin: auto;

}